---
services:
  no-authentication:
    image: ${DOCKER_IMAGE_NAME}
    command: --database-type sqlite --sqlite-path /tmp/kms-data
    ports:
      - ${KMS_HTTP_PORT:-9998}:9998
  tls-authentication:
    image: ${DOCKER_IMAGE_NAME}
    volumes:
      - ../../test_data:/data
    command:
      - --database-type
      - sqlite
      - --sqlite-path
      - /tmp/kms-data
      - --port
      - '9999'
      - --tls-p12-file
      - /data/certificates/client_server/server/kmserver.acme.com.p12
      - --tls-p12-password
      - password
      - --clients-ca-cert-file
      - /data/certificates/client_server/ca/ca.crt
      - --socket-server-start
      - --socket-server-port
      - '5696'
      - --socket-server-hostname
      - 0.0.0.0
    ports:
      - ${KMS_TLS_PORT:-9999}:9999
      - ${KMS_SOCKET_TLS_PORT:-5696}:5696
  tls13-authentication:
    image: ${DOCKER_IMAGE_NAME}
    volumes:
      - ../../test_data:/data
    command:
      - --database-type
      - sqlite
      - --sqlite-path
      - /tmp/kms-data
      - --port
      - '10000'
      - --tls-p12-file
      - /data/certificates/client_server/server/kmserver.acme.com.p12
      - --tls-p12-password
      - password
      - --tls-cipher-suites
      - TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:TLS_AES_128_CCM_SHA256
      - --clients-ca-cert-file
      - /data/certificates/client_server/ca/ca.crt
      - --socket-server-start
      - --socket-server-port
      - '5697'
      - --socket-server-hostname
      - 0.0.0.0
    ports:
      - ${KMS_TLS13_PORT:-10000}:10000
      - ${KMS_SOCKET_TLS13_PORT:-5697}:5697
