target/
.cargo_check/
.history/
*.swp
TODO.md
data/html
data/keys
.env
.venv/
**/data/private
**/data/public
**/data/shared
crate/cli/*.sqlite
.DS_Store
.idea/
rustc-ice*.txt
node_modules/
# this directory may contain sqlite data when the KMS is launched locally
**/*cosmian-kms/sqlite-data*
run.sh
.aider/
.cache
.local
.openssl
resources/tarballs/openssl-3.1.2.tar.gz
.utimaco
.softhsm2
*.xz*
result*
crate/server/Cargo.toml.bak
crate/server/ui*
vendor/
http_cache.sqlite
sbom.*
