[submodule "cli"]
    path = cli
    url = https://github.com/Cosmian/client.git
[submodule ".github/reusable_scripts"]
    path = .github/reusable_scripts
    url = https://github.com/Cosmian/reusable_scripts.git
    branch = develop
