target/
.cargo_check/
.history/
*nix
*.swp
TODO.md
data/html
data/keys
.env
**/data/private
**/data/public
**/data/shared
crate/cli/*.sqlite
.DS_Store
.idea/
rustc-ice*.txt
node_modules/
# this directory may contain sqlite data when the KMS is launched locally
**/cosmian-kms/sqlite-data*
