[submodule ".github/reusable_scripts"]
    path = .github/reusable_scripts
    url = https://github.com/Cosmian/reusable_scripts.git
[submodule "test_data"]
    path = test_data
    url = https://github.com/Cosmian/test_data.git
[submodule "kmip"]
    path = kmip
    url = https://github.com/Cosmian/kmip.git
[submodule "authentication"]
    path = authentication
    url = https://github.com/Cosmian/authentication.git
[submodule "documentation/theme"]
    path = documentation/theme
    url = https://github.com/Cosmian/doc-theme.git
