[submodule ".github/reusable_scripts"]
    path = .github/reusable_scripts
    url = https://github.com/Cosmian/reusable_scripts.git
[submodule "tests_datas"]
	path = tests_datas
	url = https://github.com/Cosmian/tests_datas.git
