---
# Only used for local development and testing
services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=kms
      - POSTGRES_DB=kms
      - POSTGRES_PASSWORD=kms
      - PGDATA=/tmp/postgres2
  mysql:
    image: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_USER=kms
      - MYSQL_PASSWORD=kms
      - MYSQL_DATABASE=kms
      - MYSQL_ROOT_PASSWORD=kms
  percona:
    image: percona/percona-xtradb-cluster:8.0
    ports:
      - 3307:3306
    environment:
      - MYSQL_ROOT_PASSWORD=kms
      - MYSQL_DATABASE=kms
      - MYSQL_USER=kms
      - MYSQL_PASSWORD=kms
      - CLUSTER_NAME=test-cluster
      - PXC_STRICT_MODE=ENFORCING
  mariadb:
    image: mariadb:latest
    ports:
      - 3308:3306
    environment:
      - MYSQL_ROOT_PASSWORD=kms
      - MYSQL_DATABASE=kms
      - MYSQL_USER=kms
      - MYSQL_PASSWORD=kms
  redis:
    image: redis:latest
    ports:
      - 6379:6379
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - 16686:16686
      - 4317:4317
    environment:
      - COLLECTOR_OTLP_ENABLED=true
