[package]
name = "cosmian_kms_base_hsm"
version.workspace = true
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
description = "Base PKCS#11 HSM integration implementation"

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
async-trait = { workspace = true }
cosmian_kms_interfaces = { path = "../../interfaces", version = "5.14.1" }
cosmian_logger = { workspace = true }
futures = { workspace = true }
libloading = { workspace = true }
lru = { workspace = true }
pkcs11-sys = { workspace = true }
rand = { workspace = true }
thiserror = { workspace = true }
zeroize = { workspace = true }
uuid = { workspace = true, features = ["v4"] }
