[v3_ca]
basicConstraints=CA:FALSE,pathlen:0
keyUsage=keyCertSign,digitalSignature
extendedKeyUsage=emailProtection
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
crlDistributionPoints=URI:https://package.cosmian.com/kms/crl_tests/intermediate.crl.pem
