# Mode
COMPOSE_PROFILES=kms-local
KMS_MODE=local

# Telemetry metadata
KMS_CLUSTER=cosmian-kms-local
KMS_VERSION=latest
ENVIRONMENT=production

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=mySecureGrafanaPassword123

# VictoriaMetrics
METRICS_RETENTION_MONTHS=12

# KMS
KMS_P12_PASSWORD=mySecureKMSPassword123