default_username = "admin"

[http]
port = 8080
hostname = "0.0.0.0"

[db]
database_type = "redis-findex"
database_url = "redis://0.0.0.0:6379"
redis_master_password = "master-password"
redis_findex_label = "label"
