@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --md-primary-fg-color: #ff5f38;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #e3431a;
  --md-accent-fg-color: #e3431a;
  --indigo: #320099;
}
body {
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::selection {
  background-color: var(--md-primary-fg-color);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Open sans", Arial, Helvetica, sans-serif;
}

.md-header {
  background-color: var(--indigo);
}
.md-header__topic:first-child {
  font-weight: 500;
}

.md-typeset code {
  background-color: #f6f7fb;
}
.md-typeset code *::selection {
    background-color: black;
    color: white;
  }
.md-typeset code::selection {
    background-color: black;
    color: white;
  }

  /* Footer */
.md-footer {
  background: linear-gradient(92.95deg, #0f0e15 0%, #2f038c 100%);
  box-shadow: 170px -20px 50px rgba(47, 3, 140, 0.2),
    -170px -20px 50px -20px rgba(224, 72, 39, 0.2);
  margin-top: 3em;
}
.md-footer-nav > nav,
.md-footer-nav__inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (max-width: 660px) {
  .md-footer-nav > nav,
  .md-footer-nav__inner {
    flex-direction: column;
    align-items: center;
  }
  .md-footer-nav > nav > a:first-child,
  .md-footer-nav__inner > a:first-child {
    margin: 0 auto 0.5em 1em;
  }
  .md-footer-nav > nav > a:last-child,
  .md-footer-nav__inner > a:last-child {
    margin: 0.5em 2em 0 auto;
  }
}
.md-footer-nav > nav > a,
.md-footer-nav__inner > a {
  display: flex;
  gap: 1em;
}
.md-footer-meta {
  background-color: inherit;
}
.md-footer-meta__inner {
  display: flex;
  justify-content: center;
}
.md-footer-nav__direction {
  font-weight: 700;
  margin-right: 0.5em;
}
.md-footer-nav__direction::after {
  content: ": ";
}
.md-footer-meta__inner .md-footer-copyright {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.md-footer-copyright .custom-md-footer-logo {
  margin-bottom: 1em;
}
.md-footer-meta__inner .md-social {
  display: none;
}
.md-footer-copyright__highlight {
  font-size: 0.85em;
}

/* PDF style */
@page {
    size: a4 portrait;
    margin: 20mm 10mm 20mm 10mm;
    font-size: 80%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
        content: url("../favicon.png");
    }
    @top-center {
        content: string(chapter);
    }
    @bottom-center {
        content: '© Copyright 2018-2021 Cosmian. All rights reserved';
    }
    @bottom-right {
        content: 'Page ' counter(__pgnum__);
    }
    @bottom-left {
        content: 'Version draft';
    }
}