---
name: Fork CI - no Nix

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  fork-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.90.0
          components: rustfmt, clippy

      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

  fork-test:
    name: No Nix - ${{ matrix.runner }} - ${{ matrix.type }} - ${{ matrix.features }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        type:
          - sqlite
        features: [fips, non-fips]
        runner: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]

    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.90.0
          components: rustfmt, clippy

      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Test
        run: |
          set -ex
          bash .github/scripts/test_${{ matrix.type }}.sh --profile debug --variant ${{ matrix.features }}

      - name: With cargo only
        run: |
          set -ex
          if [ "${{ matrix.features }}" = "non-fips" ]; then
            export FEATURES_FLAG="--features non-fips";
          else
            export FEATURES_FLAG="";
          fi
          cargo test --workspace --lib $FEATURES_FLAG -- --nocapture
