---
name: CI nightly release

on:
  push:
    # any tags, including tags with / like v1.0/alpha
    tags:
      - '**'
  schedule:
    # every day at 1 AM
    - cron: 00 1 * * *
  workflow_dispatch:

jobs:
  main:
    secrets: inherit
    uses: ./.github/workflows/main_base.yml
    with:
      toolchain: nightly-2025-03-31
      debug_or_release: release
      platforms: linux/amd64,linux/arm64
