---
name: CI checks

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      debug_or_release:
        required: true
        type: string

jobs:
  cla-assistant:
    if: (github.event.pull_request.head.repo.full_name != github.repository) && ((github.event.comment.body == 'recheck' || github.event.comment.body ==
      'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target')
    uses: ./.github/workflows/cla.yml
    secrets: inherit

  cargo-clippy:
    uses: Cosmian/reusable_workflows/.github/workflows/clippy.yml@develop
    with:
      toolchain: ${{ inputs.toolchain }}

  cargo-deny:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-audit.yml@develop
    name: Security Audit
    with:
      toolchain: ${{ inputs.toolchain }}

  cargo-machete:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-machete.yml@develop
    with:
      toolchain: ${{ inputs.toolchain }}

  # ml-kem-0.2.1 does not build on toolchain 1.90.0 and cargo-semver v0.44.0.
  # cargo-semver:
  #   uses: Cosmian/reusable_workflows/.github/workflows/cargo-semver.yml@develop
  #   with:
  #     toolchain: ${{ inputs.toolchain }}

  cargo-publish:
    name: Cargo Publish Workspace
    uses: ./.github/workflows/cargo-publish.yml
    with:
      toolchain: ${{ inputs.toolchain }}
    secrets:
      token: ${{ secrets.CRATES_IO }}

  test: # Run all tests
    uses: ./.github/workflows/test_all.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      debug_or_release: ${{ inputs.debug_or_release }}

  public_documentation:
    if: github.repository == 'Cosmian/kms' && !startsWith(github.ref_name, 'dependabot/')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Deploy documentation in staging
        if: ${{ github.ref_name == 'develop' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: staging.yml
          repo: Cosmian/public_documentation
          ref: develop
          token: ${{ secrets.PAT_TOKEN }}

      - name: Deploy documentation in prod
        if: startsWith(github.ref, 'refs/tags')
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: prod.yml
          repo: Cosmian/public_documentation
          ref: main
          token: ${{ secrets.PAT_TOKEN }}
