---
name: CI checks

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      debug_or_release:
        required: true
        type: string

jobs:
  cla-assistant:
    if: (github.event.pull_request.head.repo.full_name != github.repository) && ((github.event.comment.body == 'recheck' || github.event.comment.body ==
      'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target')
    uses: ./.github/workflows/cla.yml
    secrets: inherit

  cargo-clippy:
    uses: Cosmian/reusable_workflows/.github/workflows/clippy.yml@develop
    with:
      toolchain: ${{ inputs.toolchain }}

  cargo-deny:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-audit.yml@develop
    name: Security Audit
    with:
      toolchain: ${{ inputs.toolchain }}

  cargo-machete:
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-machete.yml@develop
    with:
      toolchain: ${{ inputs.toolchain }}

  cargo-test:
    name: No Nix - ${{ matrix.runner }} - ${{ matrix.type }} - ${{ matrix.features }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        type:
          - sqlite
        features: [fips, non-fips]
        runner: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]

    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.90.0
          components: rustfmt, clippy

      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: With bash test script
        run: |
          set -ex
          bash .github/scripts/test_${{ matrix.type }}.sh --profile debug --variant ${{ matrix.features }}

      - name: With cargo only
        run: |
          set -ex
          if [ "${{ matrix.features }}" = "non-fips" ]; then
            export FEATURES_FLAG="--features non-fips";
          else
            export FEATURES_FLAG="";
          fi
          cargo test --workspace --lib $FEATURES_FLAG -- --nocapture

  cargo-publish:
    name: Cargo Publish Workspace
    uses: ./.github/workflows/cargo-publish.yml
    with:
      toolchain: ${{ inputs.toolchain }}
    secrets:
      token: ${{ secrets.CRATES_IO }}

  test: # Run all tests
    if: (github.event.pull_request.head.repo.full_name == github.repository && !startsWith(github.ref_name, 'dependabot/')) || startsWith(github.ref, 'refs/tags/')
    uses: ./.github/workflows/test_all.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      debug_or_release: ${{ inputs.debug_or_release }}

  public_documentation:
    if: github.repository == 'Cosmian/kms' && !startsWith(github.ref_name, 'dependabot/') || github.event.pull_request.head.repo.full_name == github.repository
      || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Deploy documentation in staging
        if: ${{ github.ref_name == 'develop' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: staging.yml
          repo: Cosmian/public_documentation
          ref: develop
          token: ${{ secrets.PAT_TOKEN }}

      - name: Deploy documentation in prod
        if: startsWith(github.ref, 'refs/tags')
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: prod.yml
          repo: Cosmian/public_documentation
          ref: main
          token: ${{ secrets.PAT_TOKEN }}
