---
name: Packaging

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
        default: 1.90.0
  workflow_dispatch:
    inputs:
      toolchain:
        description: Rust toolchain to use (e.g., stable, nightly-YYYY-MM-DD)
        required: true
        type: string
        default: 1.90.0

jobs:
  windows-package:
    uses: ./.github/workflows/build_windows.yml
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: windows

  docker:
    uses: ./.github/workflows/packaging-docker.yml
    with:
      toolchain: ${{ inputs.toolchain }}

  packages:
    name: ${{ matrix.runner }}-${{ matrix.features }}-${{ matrix.link }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        features: [fips, non-fips]
        link: [static, dynamic]
        runner: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]

    steps:
      - name: Nix installation
        uses: cachix/install-nix-action@v31

      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up GPG
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}

      - name: List keys
        run: gpg -K

      - name: Package
        run: |
          bash .github/scripts/nix.sh --profile release --variant ${{ matrix.features }} --link ${{ matrix.link }} package
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_KEY_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}

      - name: Upload package
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.features }}_${{ matrix.link }}_${{ matrix.runner }}-release
          path: result-*-${{ matrix.features }}-${{ matrix.link }}/*
          retention-days: 1
          if-no-files-found: error

  publish-release:
    name: Publish ${{ matrix.runner }}-${{ matrix.features }}-${{ matrix.link }}
    needs: packages
    runs-on: [self-hosted, not-sgx]
    container:
      image: cosmian/docker_doc_ci
      volumes:
        - /home/cosmian/.ssh/id_rsa:/root/.ssh/id_rsa

    strategy:
      fail-fast: false
      matrix:
        features: [fips, non-fips]
        link: [static, dynamic]
        runner: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
        package-type: [deb, rpm, dmg]
        cpu-arch: [amd64, arm64]
        exclude:
          - runner: ubuntu-24.04
            package-type: dmg
          - runner: ubuntu-24.04-arm
            package-type: dmg
          - runner: macos-15
            package-type: deb
          - runner: macos-15
            package-type: rpm
          - runner: ubuntu-24.04
            cpu-arch: arm64
          - runner: ubuntu-24.04-arm
            cpu-arch: amd64
          - runner: macos-15
            cpu-arch: amd64
    steps:
      - name: Checkout repository (for public key file)
        uses: actions/checkout@v6
        with:
          submodules: false

      - name: Download packaged artifact for this matrix
        uses: actions/download-artifact@v6
        with:
          name: ${{ matrix.features }}_${{ matrix.link }}_${{ matrix.runner }}-release

      - name: List downloaded assets
        run: |
          set -ex
          ls -la
          find . -type f -print

      - name: Push to package.cosmian.com (self-hosted)
        shell: bash
        run: |
          set -ex
          if [[ "${GITHUB_REF}" =~ 'refs/tags/' ]]; then
            BRANCH="${GITHUB_REF_NAME}"
          else
            BRANCH="last_build/${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          fi
          DESTINATION_DIR=/mnt/package/kms/$BRANCH
          ssh -o 'StrictHostKeyChecking no' -i /root/.ssh/id_rsa cosmian@package.cosmian.com mkdir -p "$DESTINATION_DIR"

          # Upload artifacts from the known result directory
          RESULT_DIR="result-${{ matrix.package-type }}-${{ matrix.features }}-${{ matrix.link }}"
          RESULT_SERVER_DIR="result-server-${{ matrix.features }}-${{ matrix.link }}/bin"

          # Create remote directory
          remote_dir="${DESTINATION_DIR}/${{ matrix.package-type }}/${{ matrix.cpu-arch }}/${{ matrix.features }}/${{ matrix.link }}"
          ssh -o 'StrictHostKeyChecking no' -i /root/.ssh/id_rsa cosmian@package.cosmian.com mkdir -p "$remote_dir"

          # If CPU arch is arm64, then create variable = aarch64 for file matching
          if [ "${{ matrix.cpu-arch }}" = "arm64" ]; then
            arch_label="aarch64"
          else
            arch_label="x86_64"
          fi

          # Upload package files
          scp -o 'StrictHostKeyChecking no' -i /root/.ssh/id_rsa \
            ./nix/signing-keys/cosmian-kms-public.asc \
            $RESULT_DIR/*${{ matrix.cpu-arch }}*${{ matrix.package-type}}* \
            $RESULT_SERVER_DIR/*${arch_label}* \
            $RESULT_SERVER_DIR/*${{ matrix.cpu-arch }}* \
            cosmian@package.cosmian.com:${remote_dir}/

      - name: Publish GitHub Release assets
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            result-${{ matrix.package-type }}-${{ matrix.features }}-${{ matrix.link }}/cosmian-kms-server*
            result-server-${{ matrix.features }}-${{ matrix.link }}/bin/cosmian-kms-server*
            ./nix/signing-keys/cosmian-kms-public.asc

  tests:
    needs: packages
    uses: ./.github/workflows/packaging-tests.yml
    with:
      toolchain: ${{ inputs.toolchain }}
