---
name: Packaging

on:
  push:
    tags:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  # Run packaging for PRs
  packaging:
    if: github.repository == 'Cosmian/kms' && !startsWith(github.ref_name, 'dependabot/') && github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/packaging.yml
    secrets: inherit
    with:
      toolchain: 1.90.0
